/* @import url(https://fonts.googleapis.com/css?family=Fjalla+One); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #222;
  background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%23000000" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
}

#startScreen {
  width: 100vw;
  height: 100vh;

  .start-screen-container {
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn {
    margin-top: 6rem;
    background: transparent;
    cursor: pointer;
    color: rgba(241, 196, 15, 1);
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 6px;
    border: 3px solid rgba(241, 196, 15, 1);
    transition: all 0.3s ease-out;
  }

  .title-container {
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    justify-content: center;

    .title {
      transform: rotate(-10deg);
      position: relative;

      &:nth-child(1) {
        color: #e55643;
      }
      &:nth-child(2) {
        color: #2b9f5e;
      }
      &:nth-child(3) {
        color: #f1c83c;
      }
      span {
        transform: skew(-10deg);
        display: block;
        float: left;
        text-shadow:
          #533d4a 1px 1px,
          #533d4a 2px 2px,
          #533d4a 3px 3px,
          #533d4a 4px 4px,
          #533d4a 5px 5px,
          #533d4a 6px 6px;
        min-width: 10px;
        min-height: 10px;
        position: relative;
      }
    }
  }
}

#onGame {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;

  .menu {
    width: 100%;
    text-align: right;
    padding: 10px 20px;
    box-sizing: border-box;

    border-bottom: 1px solid rgba(255, 255, 255, 0.105);
    position: fixed;

    .menu-item {
      color: rgba(199, 199, 201, 0.78);
      margin-left: 20px;
    }
    .menu-item:hover {
      color: white;
    }
  }

  .main {
    margin-top: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #gameCanvas {
      margin-top: 30px;
      border: 1px solid #686767; /* Light gray border */
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    }

    .scoreBoard {
      font-size: 24px;
      color: white;
      font-weight: 800;
    }
  }

  .pop-up {
    color: white;
    position: absolute;
    padding: 30px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
    z-index: 10;
    background-color: rgb(52, 55, 67);
    width: 500px;
    visibility: hidden;
    opacity: 0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    white-space: normal;

    @media screen and (max-width: 570px) {
      width: 100%;
    }
    &.visible {
      visibility: visible;
      opacity: 1;
    }
    .pop-up__title {
      border-color: #f9fafb;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(113 119 144 / 25%);
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .pop-up__subtitle {
      white-space: normal;
      margin: 10px 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.8em;
    }
  }

  .footer-wrapper {
    width: auto;

    &.center {
      margin: 0 auto;
    }

    .footer-button {
      border: none;
      padding: 8px 26px;
      color: #fff;
      border-radius: 20px;
      margin-top: 16px;
      cursor: pointer;
      transition: 0.3s;
      white-space: nowrap;

      &.confirm {
        background-color: #3a6df0;
      }
    }
  }
}
